* {
    background-color: whitesmoke;

}

/*================================ App ========================================*/



.App {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Oxygen, sans-serif;
    font-size: 10px;
    text-align: center;
}

/*================================ Header Component =============================*/


.main-title {
    color: white;
    background-color: crimson;
    padding: 30px;
    font-style: italic;
}

/*================================ Header Component =============================*/








/*================================ SearchForm Component ===========================*/



.search-form {
    margin-top: 30px;
}

.search-form input {
    width: 500px;
    height: 30px;
    text-align: center;
}

.search-btn {
    margin: 10px;
    width: 200px;
    height: 30px;
    background-color: crimson;
    border: transparent;
    color: white;
}

.search-btn:hover {
    background-color: yellow;
    border: transparent;
    color: black;
}

/*================================ SearchForm Component ===========================*/







/*================================ Recipes Component ==============================*/



.recipes-container {
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}


.recipes {
    overflow: hidden;
    box-shadow: 0 2px 20px lightgray;
    padding-bottom: 20px;
    height: 100%;
    margin: 40px;
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.recipes:hover {
    transform: scale(1.05);
    border-color: 1px solid tomato;
}

.recipe-title {
    padding: 10px;
    font-size: 15px;
    color: green;
}

.recipes p {
    padding: 5px;
    font-weight: bold;
}

.recipes p:hover {
    background-color: peru;
    padding: 10px;
    color: white;
}

.recipes button {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid red;
    background-color: transparent;
    color: red;
    transition: background 200ms ease-in, color 200ms ease-in;
}

.recipes button:hover {
    background-color: yellow;
    color: white;
    border: 1px solid yellow;
}

/*================================ Recipes Component ==============================*/





/*================================ Pagination Component ==============================*/


.pagination {
    display: flex;
    justify-content: center;
}

.pagination li {
    margin: 5px;
    font-size: 20px;
}

.pagination a {
    background-color: cornflowerblue;
    color: white;
}

.pagination a:hover {
    background-color: green;
    color: white;
}

/*================================ Pagination Component ==============================*/






/*================================ Media queries ==============================*/



@media only screen and (max-width: 1200px) {
    .recipes-container {
        margin: auto;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
    }
    
    .recipes {
        overflow: hidden;
        box-shadow: 0 2px 20px lightgray;
        padding-bottom: 20px;
        height: 100%;
        margin: 40px;
        width: 35%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
  }

  @media only screen and (max-width: 971px) {
    .recipes-container {
        margin: auto;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
    }
    
    .recipes {
        overflow: hidden;
        box-shadow: 0 2px 20px lightgray;
        padding-bottom: 20px;
        height: 100%;
        margin: 40px;
        width: 60%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
  }


  @media only screen and (max-width: 971px) {
    .recipes-container {
        margin: auto;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
    }
    
    .recipes {
        overflow: hidden;
        box-shadow: 0 2px 20px lightgray;
        padding-bottom: 20px;
        height: 100%;
        margin: 40px;
        width: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
  }

  @media only screen and (max-width: 660px) {
    .recipes-container {
        margin: auto;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .recipes {
        overflow: hidden;
        box-shadow: 0 2px 20px lightgray;
        padding-bottom: 20px;
        height: 100%;
        margin: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .search-form {
        padding: 20px;
    }

    .search-form input {
        width: 300px;
        height: 30px;
    }
    .search-btn {
        display: inline-block;
        width: 100px;
        height: 30px;
        background-color: crimson;
        border: transparent;
        color: white;
    }
    form button {
        text-align: center;
        margin: 0 auto;
    }
  }

  @media only screen and (max-width: 660px) {
    .recipes-container {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
    }
    
    .recipes {
        overflow: hidden;
        box-shadow: 0 2px 20px lightgray;
        padding-bottom: 20px;
        height: 100%;
        margin: 40px;
        width: 1000%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

}
